/* Reset Moderno e Eficiente */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Nunito';
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
/* css global */
@media print{
  html,body, main{
    background: #5d8dd4 !important;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  .main{
    height: auto !important;
  }

  #__vue-devtools-container__ {
    display: none;
  }
}